footer {
    height: 400px;
    margin-top: 50px;
    background-color: $violet;
    position: relative;
    z-index: 3;
    color: $blanc;
    justify-content: flex-end;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 150px;
        position: absolute;
        top:-149px;
        background-image: url("../img/forme-module-3-horizontale-footer.svg");
        background-size: 120%;
        background-position-x: center;
        background-repeat: no-repeat;
    }
    .footer-content {
        max-width: 720px;
        margin: auto;
        align-items: flex-start;
        justify-content: space-between;
        section {
            h2 {
                margin-top: 0;
                color: $canari;
                font-size: 1.5rem;
            }
            ul {
                line-height: 2rem;
                padding: 0 40px 0 0;
                li {
                    justify-content: flex-start;
                    align-items: flex-start;
                    a {
                        transition: .5s ease;
                        &:after {
                            content: "";
                            display: block;
                            height: 1px;
                            width: 50px;
                            opacity: 0;
                            background-color: $mauve;
                            transition: .5s ease;

                        }
                    }
                    &:hover{
                        color: $canari;
                        a {
                            &:after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
                li:not(:last-child) {
                    padding-bottom: 20px;
                }
            }
            &.footer-information {
                width: 36%;
            }
            &.footer-contact {
                width: 40%;
                ul {
                    li {
                        
                        &:before {
                            display: block;
                            width: 20px;
                            position: relative;
                            top: 3px;
                            margin-right: 15px;
                        }
                        &:nth-child(1) {
                            &:before {
                                content: url("../img/localisation.svg");
                            }
                        }
                        &:nth-child(2) {
                            &:before {
                                content: url("../img/phone.svg");
                            }
                        }
                        &:nth-child(3) {
                            &:before {
                                content: url("../img/enveloppe.svg");
                            }
                        }
                    }
                }
            }
            &.footer-social-media {
                width: 24%;
                div {
                    padding: 0 20px 0 0;
                    justify-content: flex-start;
                    a {
                        &:not(:last-child) {
                            padding-right: 25px;
                        }
                        img {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        border-top: 1px solid $noir;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        color: $blanc;
    }
}