footer {
    height: 400px;
    margin-top: 50px;
    background-color: $violet;
    position: relative;
    z-index: 3;
    color: $blanc;
    justify-content: flex-end;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 200px;
        position: absolute;
        top:-199px;
        background-image: url("../img/forme-module-3-horizontale-footer.png");
        background-size: cover;
    }
    .footer-content {
        max-width: 720px;
        margin: auto;
        align-items: flex-start;
        justify-content: space-between;
        section {
            width: 38%;
            h2 {
                margin-top: 0;
                color: $canari;
                font-size: 1.5rem;
            }
            ul {
                line-height: 2rem;
                padding: 0 40px 0 0;
                li:not(:last-child) {
                    padding-bottom: 20px;
                }
            }
            &.footer-social-media {
                width: 24%;
                div {
                    padding: 0 20px 0 0;
                    justify-content: flex-start;
                    a {
                        &:not(:last-child) {
                            padding-right: 25px;
                        }
                        img {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        border-top: 1px solid $noir;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        color: $blanc;
    }
}