header {
    background-color: $creme;
    a {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;

        &.cta-newsletter {
            width: 150px;
            height: 50px;
            line-height: 50px;
            background-color: $creme;
            color: $violet;
            &:hover {
                background-color: $canari;
                border-color: $canari;
                color: $violet;
            }
        }
    }
    .dropdown {
        position: fixed;
        top: -50px;
        opacity: 0;
        left: 0;
        z-index: -1;
        background: $mauve;
        width: 100vw;
        height: 100vh;
        transition: .8s ease;
        .cta {
            border: none;
            &:hover {
                background: $blanc;
            }
        }
        &.dropdown-on {
            position: fixed;
            z-index: 98;
            top: 0;
            opacity: 1;
        }

        ul {
            li {
                margin: 0 0 20px 0;
            }
        }
    }

    nav {
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 99;
        background-color: $creme;
        transition: .4s ease;
        &.nav-hidden {
            transform: translateY(-100%);
        }
        &.nav-1 {
            padding: 0 80px;
            justify-content: space-between;
        }

        &.nav-2 {
            display: none;
            justify-content: space-between;
            padding: 0 10%;
            img {
                object-fit: contain;
                &.burger {
                    width: 33px;
                    &:hover {
                        cursor: pointer;
                        stroke: $canari;
                    }
                }
                &.close {
                    width: 18px;
                    transition: .8s ease;
                    &:hover {
                        cursor: pointer;
                    }
                    &.close-off {
                        pointer-events: none;
                        opacity: 0;
                    }
                    &.close-on {
                        pointer-events: auto;
                        opacity: 1;
                    }
                }
            }
        }

        .nav-logo {
            height: 100%;
            padding: 30px 0;

            img {
                height: 50px;
            }
        }

        ul {
            display: flex;

            li {
                margin-right: 40px;

                a {
                    color: $noir;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        margin-top: 5px;
                        height: 2px;
                        width: 0px;
                        opacity: 0;
                        background-color: $violet;
                        transition: 0.4s ease;
                    }
                }

                &:hover {
                    a {
                        color: $violet;

                        &:after {
                            width: 40px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}