// Couleurs
@import "colors";
// Polices
@import "fonts";

// styles généraux
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
    background-color: $creme;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: $noir;
}
h1, h2 {
    font-family: 'Quicksand', sans-serif;
    color: $violet;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
}
h2 {
    font-size: 1.7rem;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}
a {
    text-decoration: none;
    color: unset;
    &.cta {
        padding: 20px 50px;
        border: 1px solid $violet;
        border-radius: 40px;
        color: $violet;
        font-weight: 700;
        &.cta-violet {
            background: $violet;
            color: $canari;
            border: none;
        }
    }
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.demo-illustration {
    margin-bottom: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.1;
}

//styles du bloc main
main {
    padding: 100px 0;
    background-color: $blanc;
    .main-item {
        &:not(:last-child) {
            padding-bottom: 50px;
        }
        &.first {
            padding-bottom: 400px;
            > section {
                &:not(:last-of-type) {
                    padding-bottom: 100px;
                }
                &.avantages {
                    .demo-illustration {
                        width: 400px;
                        height: 350px;
                        margin: 0 40px 0 0;
                        opacity: 1;
                        border: 1px solid $noir;
                        border-radius: 50px;
                        span {
                            opacity: 0.5;
                        }
                    }
                    article {
                        width: 30%;
                    }
                }
                &.valeurs {
                    h2 {
                        margin: 0 0 60px 0;
                    }
                    .valeurs-cartes {
                        section {
                            width: 250px;
                            height: 250px;
                            padding: 0 25px;
                            border: 2px solid $noir;
                            border-radius: 40px;
                            box-shadow: 2px 2px 10px $mauve;
                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                            .demo-rond {
                                width: 60px;
                                height: 60px;
                                border: 2px solid $noir;
                                border-radius: 50%;
                            }
                            h3 {
                                margin: 15px 0;
                            }
                            .separateur {
                                width: 20px;
                                height: 1px;
                                margin: 10px 0;
                                background-color: $noir;
                            }
                            p {
                                margin: 0;
                                padding: 0 20px;
                                text-align: center;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                &.etablissement {
                    max-width: 720px;
                    margin: auto;
                    > * {
                        text-align: center;
                    }
                    .sous-titre {
                        margin-top: 0;
                        font-size: 1.5rem;
                        font-weight: 100;
                    }
                    p {
                        margin-top: 40px;
                        font-style: italic;
                    }
                }
            }
            .triangles {
                height: 0;
                div {
                    height: 500px;
                    width : 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .t1 {
                    background-image: url("../img/triangle-1.png");
                    background-position: left;
                }
                .t2 {
                    background-image: url("../img/triangle-2.png");
                    background-position: right;
                }
            }
        }
        &.second {
            max-width: 720px;
            margin: auto;
            > div {
                width: 100%;
                height: 407px;
                border-radius: 60px;

            }
            .demo-video {
                position: relative;
                border: 1px solid $violet;
                text-align: center;
                text-transform: uppercase;
            }
            h2 {
                margin: 80px 0;
            }
            .formulaire {
                padding: 0 80px;
                img {
                    max-width: 200px;
                    margin-bottom: 80px;
                }
                .demo-illustration {
                    width: 100%;
                    height: 150px;
                    margin: 0 0 40px 0;
                    border-radius: 25px;
                    opacity: 1;
                    background-color: $mauve;
                    span {
                        opacity: 0.2;
                    }
                }
                form {
                    width: 100%;
                    input {
                        height: 80px;
                        margin: 0;
                        outline: none;
                        border: 1px solid $violet;
                        font-size: 1.17rem;
                        &#email {
                            padding-left: 50px;
                            border-radius: 50px 0 0 50px;
                            flex: 1;
                            &::-webkit-input-placeholder {
                                font-style: italic;
                                opacity: 0.5;
                            }
                        }
                        &#newsletter-submit {
                            width: 200px;
                            padding: 15px 30px;
                            background-color: $violet;
                            border-radius: 0 50px 50px 0;
                            border-left: none;
                            font-weight: bold;
                            color: $canari;
                        }
                    }
                }
            }
        }
    }
}

// Import templates & composants
@import "header";
@import "footer";
@import "responsive";