// Couleurs
@import "colors";
// Polices
@import "fonts";

// styles généraux
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: $noir;
}
h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    color: $violet;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.7rem;
}
.sous-titre {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 200;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}
a {
    text-decoration: none;
    color: unset;
    &.cta {
        padding: 20px 50px;
        border: 1px solid $violet;
        border-radius: 40px;
        color: $violet;
        font-size: 1rem;
        font-weight: 700;
        &.cta-violet {
            background: $violet;
            color: $canari;
            border: none;
        }
    }
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.demo-illustration {
    margin-bottom: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.1;
}

//styles du bloc main
main {
    position: relative;
    z-index: 2;
    padding: 0 0 100px 0;
    .main-item {
        &:not(:last-child) {
            padding-bottom: 50px;
        }
        &.first {
            padding-bottom: 300px;
            
            > section {
                &:not(:last-of-type) {
                    padding-bottom: 80px;
                }
                &.avantages {
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 500px;
                        position: absolute;
                        z-index: -1;
                        top:-299px;
                        background-image: url("../img/forme-module-3-horizontale.png");
                        background-size: cover;
                    }
                    &:after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 500px;
                        position: absolute;
                        z-index: -1;
                        bottom: -180px;
                        background-image: url("../img/forme-module-3-horizontale.png");
                        background-size: cover;
                        background-position: bottom;
                    }
                    img {
                        width: 450px;
                        height: 400px;
                        margin: 0 40px 0 0;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                    article {
                        width: 30%;
                        color: $blanc;
                        h2 {
                            color: $canari;
                        }
                    }
                }
                &.valeurs {
                    h2 {
                        margin: 60px 0;
                    }
                    .valeurs-cartes {
                        section {
                            width: 350px;
                            height: 350px;
                            padding: 0 50px;
                            position: relative;
                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                            &.information {
                                background-image: url("../img/forme-declic-forme-modules.png");
                                background-size: cover;
                            }
                            
                            &.accompagnement {
                                background-image: url("../img/forme-declic-forme-modules-2.png");
                                background-size: cover;
                            }

                            img {
                                width: 80px;
                            }
                            h3 {
                                margin: 15px 0;
                            }
                            .separateur {
                                width: 20px;
                                height: 1px;
                                margin: 10px 0;
                                background-color: $noir;
                            }
                            p {
                                margin: 0;
                                padding: 0 15px;
                                text-align: center;
                                font-size: 1rem;
                            }
                        }
                    }
                }
                &.etablissement {
                    max-width: 600px;
                    margin: auto;
                    > * {
                        text-align: center;
                    }
                    p {
                        margin: 40px 0 30px 0;
                        font-style: italic;
                        font-size: 1rem;
                    }
                }
            }
        }
        &.second {
            max-width: 720px;
            margin: auto;
            > div {
                width: 100%;
                height: 407px;
            }
            .demo-video {
                position: relative;
                text-align: center;
                text-transform: uppercase;
                background-image: url("../img/video-preview-maquette-fullvisuel.png");
                background-size: cover; 
            }
            h2 {
                margin: 80px 0;
            }
            .formulaire {
                padding: 0 80px;
                img {
                    max-width: 200px;
                    margin-bottom: 80px;
                }
                form {
                    width: 100%;
                    input {
                        height: 80px;
                        margin: 0;
                        outline: none;
                        border: 1px solid $violet;
                        font-size: 1.17rem;
                        &#email {
                            padding-left: 50px;
                            border-radius: 50px 0 0 50px;
                            flex: 1;
                            &::-webkit-input-placeholder {
                                font-style: italic;
                                opacity: 0.5;
                            }
                        }
                        &#newsletter-submit {
                            width: 200px;
                            padding: 15px 30px;
                            background-color: $violet;
                            border-radius: 0 50px 50px 0;
                            border-left: none;
                            font-weight: bold;
                            color: $canari;
                        }
                    }
                }
            }
        }
    }
}

// Import templates & composants
@import "header";
@import "footer";
@import "responsive";