// Ecrans larges (desktops, en-dessous de 1200px)
@media (max-width: 1199.98px) {
    main {
        .main-item {
            &.first {
                .illustration-flottante {
                    width: 300px;
                    top: -8%;
                }
                .avantages {
                    &:before {
                        height: 300px;
                        top: -150px;
                    }
                    &:after {
                        height: 600px;
                        bottom: -150px;
                        background-size: cover;
                        background-position: bottom;
                    }
                }
            }
        }
    }
}// Ecrans larges (desktops, en-dessous de 1040px)
@media (max-width: 1039.98px) {
    main {
        .main-item {
            &.first {
                .avantages {
                    &:before {
                        height: 400px;
                        top: -140px;
                    }
                }
            }
        }
    }
}
// Ecrans larges (desktops, en-dessous de 1024px)
@media (max-width: 1023.98px) {
    header {
        .illustration-flottante {
            width: 250px;
            top: 20%;
        }
    }
    main {
        .main-item {
            &.first {
                .avantages {
                    padding: 0 10%;
                    align-items: center;
                    &:before {
                        height: 100%;
                        background-size: 200%;
                    }
                    &:after {
                        height: 100%;
                        background-size: 200%;
                        bottom: 150px;
                    }
                    img {
                        order: 2;
                        width: 100%;
                        margin: 0;
                    }
                    div {
                        order: 1;
                        width: 100%;
                        max-width: 500px;
                        margin-bottom: 80px;
                        align-items: center;
                        .titre {
                            width: 100%;
                            text-align: left;
                        }
                        span {
                            display: inline-block;
                            width: 100%;
                        }
                        a {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

// Ecrans moyens (tablettes, en-dessous de 992px)
@media (max-width: 991.98px) {
    
}

@media (max-width: 859.98px) {
    header {
        nav {
            &.nav-1 {
                display: none;
            }
            &.nav-2 {
                display: flex;
            }
        }
    }
    
    
}

// Petis écrans (mobile paysage, en-dessous de 768px)
@media (max-width: 767.98px) {
    header {
        .header-bg {
            padding-bottom: 300px;
        }
    }
    main {
        .main-item {
            &.first {
                .avantages {
                    &:before {
                        height: 100%;
                        background-size: 300%;
                        background-position-x: 80%;
                        top: -250px;
                    }
                    &:after {
                        height: 100%;
                        background-size: 300%;
                        bottom: 100px;
                    }
                }
            }
        }
    }
}
@media (max-width: 588.98px) {
    main {
        .main-item {
            &.first {
                .illustration-flottante {
                    top: -9%;
                    right: -10%;
                }
                .avantages {
                    &:before {
                        height: 100%;
                        background-size: 500%;
                        background-position-x: 80%;
                        top: -260px;
                    }
                    &:after {
                        height: 100%;
                        background-size: 500%;
                        bottom: 100px;
                    }
                }
            }
        }
    }
}
// Petits écrans (mobile portrait, en-dessous de 576px)
@media (max-width: 575.98px) {
    header {
        nav {
            .nav-logo {
                padding: 25px 0;
            }
        }
    }
}
@media (max-width: 475.98px) {
    main {
        .main-item {
            &.first {
                .illustration-flottante {
                    width: 250px;
                    top: -8%;
                }
            }
        }
    }
}